<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkk.csdn.user.mapper.RoleMapper">

    <select id="selectRoleByUser" resultType="com.xkk.csdn.user.entity.Role">
        select * from csdn_sys_role where role_code in (select role_code from csdn_sys_admin_role where username = #{username})
    </select>

</mapper>
